# Assimp dependencies

# standard set of extensions
darcs /extensions/Assimp        http://openengine.dk/code/extensions/Assimp

darcs-dev /extensions/Assimp    fh.daimi.au.dk:/users/cgd/code/extensions/Assimp

#data files
win32 /libraries http://openengine.dk/data/libraries/assimp-win32.zip
linux /libraries http://openengine.dk/data/libraries/assimp-linux32.tar.gz
darwin /libraries http://openengine.dk/data/libraries/assimp-darwin.tgz

