# Assimp dependencies
dist /dependencies/AssimpDep/AssimpDep.dist	https://raw.githubusercontent.com/OpenEngineDK/dependencies-AssimpDep/master/AssimpDep.dist

# standard set of extensions
git /extensions/Assimp        https://github.com/OpenEngineDK/extensions-Assimp.git
git /extensions/AnimationFramework https://github.com/OpenEngineDK/extensions-AnimationFramework.git

git-dev /extensions/Assimp    git@github.com:OpenEngineDK/extensions-Assimp.git
git-dev /extensions/AnimationFramework git@github.com:OpenEngineDK/extensions-AnimationFramework.git

#data files
win32 /libraries http://openengine.dk/data/libraries/assimp-win32.zip
linux /libraries http://openengine.dk/data/libraries/assimp-linux32.tar.gz
darwin /libraries http://openengine.dk/data/libraries/assimp-darwin.tgz

